.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.container__logo {
    display: flex;
    align-items: center;
    
}

.container__titulo {
    margin: 0.5em;
}
/*
.container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: stretch;
}*/

/*Correção primeiro cabeçalho*/

.sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-nos {
    text-align: center;
}

.sobre-nos__itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: stretch;
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vagas {
    text-align: center;
}
.colaborador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}