.imagem_carrosel {
    object-fit: cover;
    object-position: 0 70%;
    height: 400px;
}

.card_largura {
    max-width: 18rem;
}

.borda_cor_especial {
    border-color: darkred;
}

.imagem_logo {
    height: 2em;
}

.footer_links {
    text-decoration: none;
}

.payment {
    display: flex;
    list-style-type: none;
    width: 25px;
    justify-content: center;
}